#todo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.example-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
  }
  
  .mat-table {
    flex: 1;
    overflow: auto;
    margin-top: 5%;
  
  }
  .mat-table::-webkit-scrollbar {
    display: none;
  }
  .mat-cell, .mat-header-cell {
    flex: 1;
    min-height: 48px;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.line{
    text-decoration: line-through;
}

#addTodo{
    margin-top: 8%;
}

